<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="udemyexampleTest">
		<classes>
			<class name="com.udemyAPI.SumValidation" />
			<class name="com.udemyAPI.ComplexJsonParse" />
			<class name="com.udemyAPI.UdemyRestAssuredBasics" />
		</classes>
	</test>
	<test thread-count="5" name="MyTests">
		<classes>
			<class name="com.wavelabs.ComplexJsonTasks" />
			<class name="com.wavelabs.FirstRestAssuredExample" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
